<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/test.css" />
    <title>Travel App</title>
  </head>
  <body>
    <header id="header"></header>
    <main id="main">
      <form action="" id="form">
        <label class="label" for="location">Destination</label>
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Where are you going to?"
        />

        <label class="label" for="date">Check-in</label>
        <input type="date" name="date" id="date" />

        <input type="submit" value="Search" />
      </form>
    </main>
    <footer id="footer"></footer>

    <script src="../js/formHandler.js" type="text/javascript"></script>
  </body>
</html>
