<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Solway:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Travel App</title>
  </head>
  <body>
    <header id="header">
      <h1>Plan your Trip</h1>

      <div class="form-container">
        <div class="form-title">Search for your trip</div>
        <form action="" id="form">
          <label class="label" for="location">Destination</label>
          <input
            type="text"
            name="location"
            id="location"
            placeholder="Where are you going to?"
          />

          <label class="label" for="departure">Departure</label>
          <input type="date" name="departure" id="departure" class="date" />

          <label for="arrival">Arrival</label>
          <input type="date" name="arrival" id="arrival" class="date" />

          <input type="submit" value="Search" class="btn" />
        </form>
      </div>
    </header>
    <main id="main">
      <section class="trips">
        <h2>My Trips</h2>
        <div class="trips-list"></div>
      </section>

      <section class="modal modal-main hidden">
        <header class="modal-header">Modal Header</header>
        <div class="modal-body">
          <img class="modal-img" src="" alt="" />
          <div class="modal-trip-info">
            <h2 class="trip-title"></h2>
            <p class="modal-departure"></p>
            <p class="modal-arrival"></p>

            <p class="modal-trip-duration"></p>
            <p class="modal-days"></p>
            <h3>Typical Weather for then is:</h3>
            <div class="modal-weather-container">
              <div class="temp"></div>
              <div class="feels-like"></div>
              <div class="wind-speed"></div>
            </div>
            <div class="clouds"></div>
          </div>
        </div>
        <div class="modal-buttons-container">
          <button class="btn modal-save-btn">Save Trip</button>
          <button class="btn modal-cancel-btn">Cancel</button>
        </div>
      </section>
      <div class="overlay hidden"></div>
    </main>
    <footer id="footer"></footer>
  </body>
</html>
