<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Solway:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Travel App</title>
  </head>
  <body>
    <header id="header">
      <h1>Plan your Trip</h1>

      <div class="form-container">
        <div class="form-title">Search for your trip</div>
        <form action="" id="form">
          <label class="label" for="location">Destination</label>
          <input
            type="text"
            name="location"
            id="location"
            placeholder="Where are you going to?"
          />

          <label class="label" for="departure">Departure</label>
          <input type="date" name="departure" id="departure" class="date" />

          <label for="arrival">Arrival</label>
          <input type="date" name="arrival" id="arrival" class="date" />

          <input type="submit" value="Search" class="submit-btn" />
        </form>
      </div>
    </header>
    <main id="main">
      <h2 class="main-title">My Trips</h2>
    </main>
    <div class="overlay hidden"></div>
    <footer id="footer"></footer>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
