$border-style: 1px solid #ddd;

.modal-main {
  width: 50%;
  border: $border-style;
  min-height: 250px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.8rem;
  border-radius: 10px;
  color: #3d3d3d;
}

.modal {
  .modal-header {
  }

  .modal-body {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1rem;

    .modal-img {
      width: 30%;
      border-radius: 5px;
    }

    .modal-trip-info {
      .trip-title {
        font-size: 1.2rem;
        font-weight: 600;
      }
      h2,
      p {
        margin-bottom: 0.5rem;
      }

      h3 {
        font-weight: 600;
        margin-bottom: 5px;
      }

      .modal-weather-container {
        display: flex;
        gap: 8px;
        margin-bottom: 0.5rem;
        div {
          font-size: 0.9rem;
        }
      }

      .clouds {
        font-size: 0.9rem;
      }
    }
  }

  .modal-buttons-container {
    border-top: $border-style;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-top: 0.5rem;

    .btn {
      border: none;
      padding: 8px 12px;
      font-weight: 500;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }

    .modal-save-btn {
      background-color: #2950b8;
    }
    .modal-cancel-btn {
      background-color: #e94444;
    }
  }
}

span.title {
  font-weight: 600;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}

.hidden {
  display: none;
}
